<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link crossorigin="anonymous" href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link crossorigin="anonymous" href="{% static 'css/style.css' %}" rel="stylesheet">
    <title>{% block title %} Glkhavor Norutyunner {% endblock %}</title>
</head>
<body>

<!-- Navbar -->
{% include 'inc/_nav.html'%}

<div class="container mt-3">
    <div class="row">

        <div class="col-md-3 mt-3">
            <!-- Sidebar -- List group -->
            {% block sidebar %} SIDEBAR {% endblock %}
        </div>

        <div class="col-md-9">
            <!-- Content -- Card -->
            {% block content %} CONTENT {% endblock %}
        </div>

    </div>
</div>

<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

</body>
</html>
