{% extends 'base.html' %}

{% block title %}
Norutyan avelacum - {{ block.super }}
{% endblock %}

<!-- Sidebar -- List group -->
{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

<!-- Content -- Card -->
{% block content %}

<h1> Norutyan avelacum </h1>

<form action="{% url 'add_news' %}" method="post">
    {% csrf_token %}
    {{ my_form.as_p }}


    {% comment %}
    {{ my_form.non_field.errors }}
    <div class="mb-3">
        <label class="form-label" for="{{ my_form.title.id_for_label }}"> Anun: </label>
        {{ my_form.title }}
        <div class="invalid-feedback">
            {{ my_form.title.errors }}
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label" for="{{ my_form.content.id_for_label }}"> Text: </label>
        {{my_form.content}}
        <div class="invalid-feedback">
            {{ my_form.content.errors }}
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label" for="{{ my_form.is_published.id_for_label }}"> Hraparakvel e? </label>
        {{my_form.is_published}}
        <div class="invalid-feedback">
            {{ my_form.is_published.errors }}
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label" for="{{ my_form.category.id_for_label }}"> Category </label>
        {{my_form.category}}
        <div class="invalid-feedback">
            {{ my_form.category.errors }}
        </div>
    </div>
    {% endcomment %}

    {% comment %}
    {% for field in my_form %}
    <div class="form-group">
        {{ field.label_tag }}
        {{ field }}
        <div class="invalid-feedback">
            {{ my_form.title.errors }}
        </div>
    </div>
    {% endfor %}
    {% endcomment %}

    <button class="btn btn-primary btn-block" type="submit"> Avelacnel norutyun</button>

</form>


{% endblock %}
