{% extends 'base.html' %}

{% block title %}
Hetadardz kap - {{ block.super }}
{% endblock %}

<!-- Sidebar -- List group -->
{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

<!-- Content -- Card -->
{% block content %}

<!--{% for name in page_obj.object_list %}-->
<!--    {{name}}-->
<!--{% endfor %}-->

<h1>Hetadardz kap</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary btn-block" style="width: 970px;" type="submit"> Send</button>
</form>
{% endblock %}
