{% extends "layouts/base.html" %} {% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<div class="content">
    <div class="panel-header bg-primary-gradient">
        <div class="page-inner py-5">
            <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                <div class="page-header">
                    <h4 class="page-title">AuditTrail</h4>
                    <ul class="breadcrumbs">
                        <li class="nav-home">
                            <a href="/">
                                <i class="fas fa-home"></i>
                            </a>
                        </li>
                        <li class="separator">
                            <i class="flaticon-right-arrow"></i>
                        </li>
                        <li class="nav-item">
                            <a href='{% url "audit" %}'>AuditTrail</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="page-inner mt--5">
        <div class="row row-card-no-pd">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-head-row card-tools-still-right">
                            <h4 class="card-title">AuditTrail</h4>
                            <div class="card-tools" style="margin-right: 30px;">
                                <a class="btn btn-light" title="Download"  href="{% url 'export_logs_to_xlsx' %}" >
                                    <i class="fas fa-download"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body ">
                        <div class="row ">
                            <div class="col-md-12 ">
                                <div class="table-responsive table-hover table-sales ">
                                    <table id="multi-filter-select" class="display table table-striped table-hover" style="color: black;">
                                        <tfoot>
                                            <tr>
                                                <th>User</th>
                                                <th>Event title</th>
                                                <th>Event description</th>
                                                <th>Event date</th>
                                            </tr>
                                        </tfoot>
                                        <thead>
                                            <tr>
                                                <th>User</th>
                                                <th>Event title</th>
                                                <th>Event description</th>
                                                <th>Event date</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tasks_body">
                                            {% for item in audit %}
                                                <td> {{ item.user }}</td>
                                                <td>{{ item.event_title}}</td>
                                                <td>{{ item.event_description}}</td>
                                                <td>{{ item.event_date|date:"Y-m-d   H:i" }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<!-- Atlantis DEMO methods, don't include it in your project! -->






<!-- Atlantis DEMO methods, don't include it in your project! -->
<!-- <script src="/static/assets/js/setting-demo2.js"></script> -->
<script>
    $(document).ready(function () {
        var table = $('#multi-filter-select').DataTable({
            "pageLength": 5,
            initComplete: function () {
                this.api().columns().every(function () {
                    var column = this;
                    var select = $('<select class="form-control"><option value=""></option></select>')
                        .appendTo($(column.footer()).empty())
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                aa = $(this).val()
                            ).trim();
                            column
                                .search(val ? '^' + val + '$' : '', true, false)
                                .draw();
                        });

                    column.data().unique().sort().each(function (d, j) {
                        select.append('<option value="' + d + '">' + d + '</option>')
                    });
                });
            }
        });

        $("#hide").click(function (e) {
            selected_value = e.target.value;
            table.draw();
        });
    });

    
</script>

{% endblock javascripts %}