<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'home' %}"> Norutyunneri Kayq </a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Glkhavor ej</a></li>
            {% if request.user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="{% url 'add_news' %}">Avelacnel norutyun</a></li>
            {% endif %}
        </ul>

        <span class="navbar-text" style="padding-right: 20px;">
            {% if request.user.is_authenticated %}
                Bari galust {{ request.user }} | <a href="{% url 'logout' %}">Loguot</a>
            {% else %}
                <a href=" {% url 'register' %} "> Register </a> | <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </span>
    </div>
</nav>