/*body {
    background-color: #ddeccb;
}

h1,
a:link, a:visited {
    color: #868181
}

#header,
#content-related,
.module h2, .module caption, .inline-group h2 {
    background: #428c4a;
}

tr:nth-child(2n+1), .row-form-errors,
tr:nth-child(2n), tr:nth-child(2n) .errorlist, tr:nth-child(2n+1) + .row-form-errors, tr:nth-child(2n+1) + .row-form-errors .errorlist {
    background: #c0e3c4;
}

td, th,
#content-related .module h2{
border-bottom:1px solid #9d9d9d
}

#header {
    background: #428c4a;
}
:root {
--body-bg: #fff;
--primary: #428c4a;
--darkened-bg: #428c4a;
--selected-row: #428c4a;
}*/


